version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.9.4
      - image: docker:17.05.0-ce-git
    working_directory: ~/repo
    environment:
      - TAG: praqma/questionnaire-models
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      # install python and awscli
      - run:
          name: Install dependencies
          working_directory: /
          command: |
            sudo apt-get update && sudo apt-get install -y awscli
      - run:
          name: Export interpolated environment variables
          command: echo 'export VERSION=0.1.$CIRCLE_BUILD_NUM' >> $BASH_ENV
      - run:
          name: Login to Docker hub
          command: docker login --username $DOCKER_USER --password "$DOCKER_PASS"
      - run:
          name: Build Docker image
          command: |
            docker build --tag $TAG:$VERSION .
      - run:
          name: Run container
          command: echo 'Add docker run here...'
      - run:
          name: Deploy to Dockerhub
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              docker push $TAG:$VERSION
            fi
