version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.9.4
      - image: docker:17.05.0-ce-git
    working_directory: ~/repo
    environment:
      - TAG: praqma/questionnaire-models
    steps:
      - checkout
      - run:
          name: Install env dependencies (fargate)
          command: |
            sudo apt-get update && sudo apt-get install wget unzip -y
            cd /usr/local/bin
            sudo wget -O fargatecli.zip https://github.com/jpignata/fargate/releases/download/v0.2.3/fargate-0.2.3-linux-386.zip
            sudo unzip fargatecli.zip && sudo rm fargatecli.zip
            export PATH=$PATH:/.
            cd ~/repo
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Export interpolated environment variables
          command: |
            echo 'export VERSION=0.1.$CIRCLE_BUILD_NUM' >> $BASH_ENV
            echo 'export VERSION_TAG=v0-1-$CIRCLE_BUILD_NUM' >> $BASH_ENV
            echo 'export IMAGE_NAME=$TAG:$VERSION' >> $BASH_ENV
            echo 'export AWS_SERVICE_NAME_PROD=questionnaire-models-$VERSION_TAG' >> $BASH_ENV
      - run:
          name: Login to Docker hub
          command: docker login --username $DOCKER_USER --password "$DOCKER_PASS"
      - run:
          name: Build Docker image
          command: |
            docker build --tag $TAG:$VERSION .
      - run:
          name: Run container
          command: echo 'Add docker run here...'
      - run:
          name: Deploy to Dockerhub
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              docker push $TAG:$VERSION
            fi
      - run:
          name: Deploy container instance on AWS
          command: |
            ./scripts/create_service.sh $AWS_SERVICE_NAME_PROD IMAGE_NAME prod $DB_URI && echo 'export IP=$IP' >> $BASH_ENV
